.table-view {
    -fx-background-color: #231f20;
    -fx-control-inner-background: #2e292a;
    -fx-table-cell-border-color: #3a3435;
}
.table-view .column-header {
    -fx-background-color: #2e292a;
    -fx-text-fill: #a9a073;
}
.table-view .column-header .label {
    -fx-text-fill: #a9a073;
    -fx-font-weight: bold;
}
.table-row-cell {
    -fx-background-color: #2e292a;
    -fx-text-fill: #e8e2d4;
}
.table-row-cell:odd {
    -fx-background-color: #231f20;
}
.table-row-cell:selected {
    -fx-background-color: #fe6229;
    -fx-text-fill: #231f20;
}

.column-header-background {
    -fx-background-color: #2e292a;
}

.column-header-background .filler {
    -fx-background-color: #2e292a;
    -fx-border-color: #3a3435;
    -fx-border-width: 0 0 1 0;
}